services:
	-
		class: Spaze\PHPStan\Reflection\Stripe\RequestProperty
		tags:
			- phpstan.broker.propertiesClassReflectionExtension
		arguments:
			properties:
				'Stripe\Subscription::$coupon': string
				'Stripe\Customer::$source': string
				'Stripe\Source::$card': Stripe\Card::class
